
body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

body::after {
    content:"";
    background-image: url('/static/cattle.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.830;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}


.page-container {
    position: relative;
    min-height: 100vh;
}

html { 
    overflow-y: scroll; 
}

#navbarNav {
    justify-content: flex-end;
    font-family: 'Covered By Your Grace', cursive;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}   


nav {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #d9e4d660;
}

.nav-tabs .nav-link {
    border:none;
}

.nav-tabs .nav-link:hover {
    background-color:rgba(255,255,255,0.3);
    color:#606060;
}

#navbarNav .nav-item {
    margin: 15px;
    font-size: 18px;
  }
  
#logo {
    height: 50px;
    width: 50px;
    opacity: 0.7;
  }
  
#titulo {
    font-size: 35px;
    font-family: 'Covered By Your Grace', cursive;
    opacity: 1;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s ease-in-out;
  }

.contenedor {
    width: auto;
    background-color: rgba(255,255,255,0.6);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1.1px solid;
    border-color: #d9e4d6f0; */
    margin-top: 3%;
    margin-bottom: 7%;
    padding: 0 0 2% 0;
    border-top: none;
    border-radius: 5px;

}

form, #paso-uno{
    width: 100%;
}


#paso-uno {
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #40404020;
    color: #404040;
    font-weight: 400;
    padding-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 0 0;
    /*border: 1px solid black; */
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

input[value=button] {
    display: block;
    border-radius: 3px;
    width: 14em;
    border: 1.2px;
    border-style: solid;
    border-color: #40404080;
    outline-color:#21bf739f; 
}

ul {
    list-style-type: none;
    /*border: 1px solid green;*/
    padding: 0;
}

label {
    display: block;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
    color: #21bf73;
}

input, select {
    /*border: 1px solid grey;*/
    border-radius: 3px;
    width: 14em;
    border: none;
    outline-color:#21bf739f; 
}

select {
    width: 7em;
}

.contenedor a.nav-link {
    color: #404040;
    font-weight: 700;
}

#active {
    background-color: rgba(255,255,255,0.6);
    font-weight: 700;
    color: #21bf73;
    border-bottom: none;
} 

h5 {
    margin-top: 1em;
    color: #606060;
}

hr {
    border-radius: 6px;
    height: 2px;
    width: 50%;
    background-color: #21bf73;
    opacity: 0.3;
    margin: 2vh 0 0 0;   
}


button.remove {
    margin-left: 1em;
    /* display: flex; */
}

#boton_siguiente, button.remove, #addNewField {
    border-radius: 3px;
    box-shadow: 0;
    border: 1.2px solid #cccccc;;
    background: #f3f0f0;
    /* border-color: rgba(0,0,0,0.5); */
    transition: 0.4s;
    width: auto;
    outline: none;
}

#boton_siguiente:hover, button.remove:hover, #addNewField:hover {
    /*background-color: #21bf73;*/
    border-color: #21bf73;
    border-radius: 3px;
    transition: 0.2s;
    background: #fdfdfd40;
    font-weight: 600;
    color:#404040;
    box-shadow: 1px 1px 7px 2px #21bf73; /* h-offset v-offset blur spread color */
}

#boton_siguiente:active, button.remove:active, #addNewField:active {
    transition: 0.9ms;
    padding-left: 10px;
    padding-right: 10px;
} 

button.remove:hover {
    box-shadow: 1px 1px 3px 1px #e74b37; /* h-offset v-offset blur spread color */
    border-color: #e74b37;
    color: #e74b37;
}

ul>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 1em; */
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

ul>div>label {
    align-self: start;
    margin-bottom: 2px;
}

#addNewField {
    margin-bottom: 1em;
}

#addFieldListItem, #botonSigListItem  {
    display: flex;
    flex-direction: column;
    align-items:center;
}

#botonSigListItem {
    margin-top: 1em;
}

.fas.fa-plus {
    color:#21bf73;
}

.navbar-toggler {
    transition: 0.4s;
    outline: none;
    /* border-color: #fdfdfd; */
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline-color:#21bf739f;
}

.navbar-toggler:hover {
    transition: 0.4s;
    background: #fdfdfd;
}

footer {
    background: #21bf739f;
    height: 10vh;
    width: 100%;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 5vh;
    text-align: center;
    padding-top: 2vh;
    margin-top: 2vh;
    position: absolute;
    bottom: 0;
    /* box-shadow: inset 0px 0px 10px 20px #21bf73; h-offset v-offset blur spread color */
}

@media (max-width: 1044px) {
    body::after {
        content:"";
        background-image: url('/static/vertical-cattle3.jpg');
        background-size: 100%;
        /* width: 100%; */
        /* height: 100%; */
        background-repeat: no-repeat;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;   
    }
    .navbar-toggler {
        transition: 0.4s;
        opacity: 0.4;
        outline: none;
    }
    
    .navbar-toggler:active, .navbar-toggler:focus {
        outline: none;
        opacity: 0.3;
    }
}

@media (max-width: 414px) {
    body::after {
        content:"";
        background-image: url('/static/vertical-cattle3.jpg');
        background-size: 700px 1000px;
        background-repeat: no-repeat;
        opacity: 0.830;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
    }
    #logo {
        display:none;
    }

    a span {
        font-size: 25px;
    }

    .nav-tabs .nav-link {
        font-size: small;
    }
    
    .nav-tabs .nav-link:hover {
        background-color:rgba(255,255,255,0.3);
        color:#606060;
    }
    .navbar-toggler {
        transition: 0.4s;
        opacity: 0.4;
        outline: none;
    }
    
    .navbar-toggler:active, .navbar-toggler:focus {
        outline: none;
        opacity: 0.3;
    }
    
}

@media (max-width:1024px) and (max-height:1366px) {}

@media (max-width:280px) and (max-height:654px) {
    .nav-tabs .nav-link {
        font-size: x-small;
    }   
}