body {
    font-family: 'Quicksand', sans-serif;
}


#navbarNav {
    justify-content: flex-end;
    font-family: 'Covered By Your Grace', cursive;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 3px solid yellow; */
}


nav {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#navbarNav .nav-item {
    margin: 15px;
    font-size: 18px;
  }
  
#logo {
    height: 50px;
    width: 50px;
    opacity: 0.7;
  }
  
#titulo {
    font-size: 35px;
    font-family: 'Covered By Your Grace', cursive;
    opacity: 1;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s ease-in-out;
  }

.contenedor {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.1px solid;
    border-color: #d9e4d6f0;
    margin-top: 3%;
    margin-bottom: 7%;
    padding: 0 0 5% 0;
    border-top: none;
    border-radius: 5px;
    box-shadow: 1px 7px 7px 2px #d9e4d6f0; /* h-offset v-offset blur spread color */
    flex-shrink: 1;
}

form, #paso-uno{
    width: 100%;
}

#paso-uno {
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #40404010;
    color: #404040;
    font-weight: 400;
    padding-top: 5px;
    /*border: 1px solid black; */

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0 2em 0;
    /*border: 1px solid black; */
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

ul {
    list-style-type: none;
    /*border: 1px solid green;*/
    padding: 0;
}

label {
    display: block;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
    color: #21bf73;
}

input {
    /*border: 1px solid grey;*/
    border-radius: 3px;
    width: 14em;
    border: 1.2px;
    border-style: solid;
    border-color: #40404080;
}

a.nav-link {
    color: #404040;
}

#active {
    color: #21bf73;
} 

#boton_siguiente {
    border-radius: 3px;
    box-shadow: 0;
    border: solid 1.2px;
    border-color: rgba(0,0,0,0.5);
    transition: 0.4s;
    width: auto;
}

#boton_siguiente:hover {
    /*background-color: #21bf73;*/
    border-color: #21bf73;
    border-radius: 3px;
    transition: 0.4s;
    background: #fdfdfd;
    box-shadow: 1px 1px 7px 2px #21bf73; /* h-offset v-offset blur spread color */
}

.navbar-toggler {
    transition: 0.4s;
    /* border-color: #fdfdfd; */
}

.navbar-toggler:hover {
    transition: 0.4s;
    background: #fdfdfd;
}

footer {
    background: #21bf739f;
    height: 10vh;
    width: 100%;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 5vh;
    text-align: center;
    padding-top: 2vh;
    margin-top: 2vh;
    position: fixed;
    bottom: 0;
}